# Binaries
poolboy-scoring
*.exe
*.dll
*.so
*.dylib

# Test
coverage.out
coverage.html

# Dependency
vendor/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Build
bin/
dist/

# Plan
plans/
